{% extends 'base.html' %}
{% block content %}
<div class="shadow card" style="width: 35rem;">
                <div class="card-body">
                <h5 class="card-title">{{task1.name}}</h5>
                 <p class="card-text">{{task1.priority}}</p>
                    <p class="card-text">{{task1.date}}</p>
                    <a href="{% url 'delete' task1.id %}" class="btn btn-danger">Done</a><br><br>
                    <a href="{% url 'update' task1.id %}" class="btn btn-success">Update</a><br>
                </div>
            </div>
{% endblock %}
