{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="banner">
                <div class="banner-text">
                <h1>TODO</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">


                <div class="shadow card" style="width: 36rem;">
                    <div class="card-body">
                       <form method="POST" class="p-3-shadow">
                           {% csrf_token %}
                        <div class="form-group">
                           <input type="text"  name="name" placeholder="Enter name" class="form-control"><br><br>
                        </div>
                         <div class="form-group">
                           <input type="text"  name="priority" placeholder="Enter priority" class="form-control"><br><br>
                         </div>
                           <div class="form-group">
                           <input type="date"  name="date"  class="form-control"><br><br>
                         </div>
                         <input type="submit" class="btn btn-success">
                       </form>
                    </div>
                </div>
        </div>
        <div class="col-sm-6">
            {% for i in task1 %}

            <div class="shadow card" style="width: 35rem;">
                <div class="card-body">
                <h5 class="card-title">{{i.name}}</h5>
                 <p class="card-text">{{i.priority}}</p>
                    <p class="card-text">{{i.date}}</p>
                <a href="{% url 'delete' i.id %}" class="btn btn-danger">Done</a><br><br>
                    <a href="{% url 'update' i.id %}" class="btn btn-success">Update</a><br>
                </div>
            </div>
            <br>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
